<!--<div *ngIf="course.length>0; then listOfCourse else noCourses"></div>
<ng-template #listOfCourse>
  <p>List Of courses</p>
</ng-template>
<ng-template #noCourses>
  <p>No course Yet</p>
</ng-template>-->
<!--
<div [hidden] = "course.length == 0">
  List of courses
</div>
<div [hidden] = "course.length >0">
  No courser yet
</div>
-->
<ul class="nav nav-pills">
  <li [class.active]="viewMode =='map'"><a (click)="viewMode = 'map'">Map View</a></li>
  <li [class.active]="viewMode =='list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
</div>
<hr>

<input type="text" appInputFormat>
